/* ---------- INSTRUCTIONS GENERALES ---------- */

/* ---------- FONT-FAMILY ---------- */

@import url(//db.onlinewebfonts.com/c/93dd2b4b2014d478b6faacd3b33900e9?family=Octant+Ligatures);
@font-face
{
    font-family: "LectraW01-Regular";
    src: url("//db.onlinewebfonts.com/t/5973f5250d49662c29565c6345d6ddbe.eot");
    src: url("//db.onlinewebfonts.com/t/5973f5250d49662c29565c6345d6ddbe.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/5973f5250d49662c29565c6345d6ddbe.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/5973f5250d49662c29565c6345d6ddbe.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/5973f5250d49662c29565c6345d6ddbe.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/5973f5250d49662c29565c6345d6ddbe.svg#LectraW01-Regular") format("svg");
}

@import url(//db.onlinewebfonts.com/c/93dd2b4b2014d478b6faacd3b33900e9?family=Octant+Ligatures);
@font-face
{
    font-family: "Octant Ligatures";
    src: url("//db.onlinewebfonts.com/t/93dd2b4b2014d478b6faacd3b33900e9.eot");
    src: url("//db.onlinewebfonts.com/t/93dd2b4b2014d478b6faacd3b33900e9.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/93dd2b4b2014d478b6faacd3b33900e9.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/93dd2b4b2014d478b6faacd3b33900e9.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/93dd2b4b2014d478b6faacd3b33900e9.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/93dd2b4b2014d478b6faacd3b33900e9.svg#Octant Ligatures") format("svg");
}

@import url(//db.onlinewebfonts.com/c/21c58d749d8fc57d9897bc9cccdc9b7f?family=Bitter);
@font-face
{
    font-family: "Bitter";
    src: url("//db.onlinewebfonts.com/t/21c58d749d8fc57d9897bc9cccdc9b7f.eot");
    src: url("//db.onlinewebfonts.com/t/21c58d749d8fc57d9897bc9cccdc9b7f.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/21c58d749d8fc57d9897bc9cccdc9b7f.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/21c58d749d8fc57d9897bc9cccdc9b7f.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/21c58d749d8fc57d9897bc9cccdc9b7f.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/21c58d749d8fc57d9897bc9cccdc9b7f.svg#Bitter") format("svg");
}

/* ---------- INFOS BODY ---------- */

body {
    min-height: 100%;
    background-color: #241726;
}


/* ---------- HEADER GENERAL ---------- */

header {
    display: flex;
    flex-direction: row;
}


/* MENU */

.menu-deroulant {
    max-width: 350px;
    max-height: 100px;
    z-index: 999;
}

.menu-deroulant ul {
    width: 50px;
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    margin: 30px;
}

.menu-deroulant ul li {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 30px;
}

.menu-deroulant ul li a 
{
    display: block;
    width: 350px;
    height: 40px;
    background: #F1DABF;
    color: black;
    font-family: 'Tillana', cursive;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    padding-left: 60px;
    margin: 1px;
    cursor: pointer;
    border-radius: 100px;
}

.menu-deroulant ul li a:hover 
{
    background: #b49f88;
}

.menu-deroulant ul li a:first-child 
{
    position: relative;
    height: 50px;
    width: 300px;
    font-size: 18px;
    line-height: 50px;
}

.menu-deroulant ul li a:first-child:before 
{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    left: 9px;
    position: absolute;
    top: 9px;
}

#deroule:hover 
{
    min-height: 175px;
    min-width: 350px;
}

#ferme:hover 
{
    height: 50px;
    min-width: 300px;
}


/* MEDIAS MENU */

.home:before 
{
    background: url("../medias/header/logo-entreprise.jpg") center no-repeat;
    background-size: 120%;
}

.reserver:before 
{
    background: url("../medias/header/reserver.png") center no-repeat;
    background-size: 300%;
}

.calendrier:before 
{
    background: url("../medias/header/calendrier.png") center no-repeat;
    background-size: 100%;
}


/* NOM ENTREPRISE */

.nom 
{
    display: flex;
    flex-direction: column;
    columns: 2;
}

.nom main 
{
    z-index: -10000;
    margin-top: -130px;
    margin-left: 470px;
}

.nom main p 
{
    font-family: "Octant Ligatures";
    font-size: 900%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: url(../medias/header/ecriture.jpg);
    padding-left: 45px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000000;
}

.nom div 
{
    display: flex;
    flex-direction: row;
    min-width: 200px;
    z-index: 100000;
    width: 200px;
    margin-top: -300px;
    margin-left: 1600px;
}

.nom div a 
{
    text-decoration: none;
    color: #F1DABF;
    font-family: 'Tillana', cursive;
    font-size: 16px;
    cursor: pointer;
}

.nom div p 
{
    margin: 0;
    color: #F1DABF;
    font-family: 'Tillana', cursive;
    font-size: 16px;
}


/* ---------- PAGE D'ACCUEIL ---------- */


/* CONTENT */

.home-content 
{
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 220px;
}

.home-content h2 
{
    font-family: "Bitter";
    color: #F1DABF;
    font-size: 200%;
}

.home-content p 
{
    font-family: "LectraW01-Regular";
    font-size: 150%;
    color: #F1DABF;
}


/* ---------- PAGE D'INSCRIPTION ---------- */


/* FORMULAIRE */

.form-inscription 
{
    max-width: 25em;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.form-inscription div 
{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.form-inscription label 
{
    margin-top: 10px;
    color: blanchedalmond;
    font-family: 'Tillana', cursive;
    font-size: 20px;
}

.form-inscription input 
{
    margin-top: 5px;
    margin-bottom: 25px;
    min-height: 30px;
    border-style: none none solid none;
    border-color: blanchedalmond;
    background-color: transparent;
    color: blanchedalmond;
    text-align: center;
}

.form-inscription input:focus 
{
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-inscription button 
{
    cursor: pointer;
    border-style: none;
    border-radius: 5px;
    min-height: 50px;
    max-width: 200px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F2CC8F;
    font-family: 'Tillana', cursive;
    font-size: 120%;
    font-weight: bold;
}


/* ---------- CONNEXION ---------- */


/* FORMULAIRE */

.form-connexion 
{
    max-width: 20em;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.form-connexion div 
{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.form-connexion label 
{
    color: blanchedalmond;
    font-family: 'Tillana', cursive;
    font-size: 20px;
}

.form-connexion input 
{
    margin-top: 5px;
    margin-bottom: 25px;
    min-height: 30px;
    border-style: none none solid none;
    border-color: blanchedalmond;
    background-color: transparent;
    color: blanchedalmond;
    text-align: center;
}

.form-connexion input:focus 
{
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-connexion button 
{
    cursor: pointer;
    border-style: none;
    border-radius: 5px;
    min-height: 50px;
    max-width: 200px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F2CC8F;
    font-family: 'Tillana', cursive;
    font-size: 120%;
    font-weight: bold;
}


/* ---------- PLANNING ---------- */


/* POSITIONS */

.planning-content 
{

    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 100px;
    margin-left: 110px;
}


/* FORMULAIRE */


.form-reservation 
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 9000;
}

.form-reservation form 
{
    display: flex;
    flex-direction: column;
    color: blanchedalmond;
}

.form-reservation form div 
{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.form-reservation form label 
{
    color: blanchedalmond;
    font-family: 'Tillana', cursive;
    font-size: 20px;
}

.form-reservation form input 
{
    margin-top: 5px;
    margin-bottom: 10px;
    min-height: 30px;
    border-style: none none solid none;
    border-color: blanchedalmond;
    background-color: transparent;
    color: blanchedalmond;
    text-align: center;
}

.form-reservation form input:focus 
{
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-reservation form select 
{
    margin-top: 5px;
    margin-bottom: 10px;
    min-height: 30px;
    border-style: none none solid none;
    border-color: blanchedalmond;
    background-color: transparent;
    color: blanchedalmond;
    text-align: center;
}

.form-reservation form select:focus 
{
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-reservation form select option 
{
    color: black;
}

.form-reservation form button 
{
    cursor: pointer;
    border-style: none;
    border-radius: 5px;
    min-height: 50px;
    max-width: 200px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F2CC8F;
    font-family: 'Tillana', cursive;
    font-size: 120%;
    font-weight: bold;
}


/* PLANNING */

.planning-content table
{
    border-collapse: collapse;
}

.planning-content table td
{
    width: 150px;
    color: blanchedalmond;
    border-style: solid solid solid solid;
    border-color: blanchedalmond;
}

.flex
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.vide
{
    background-color: blanchedalmond;
}

.jours
{
    height: 40px;
}

.heures
{
    height: 53px;
    border-style: none solid none none;
    border-color: blanchedalmond;
}

.petite
{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: burlywood;
}

.moyenne
{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: cadetblue;
}

.grande
{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: coral;
}

.tresgrande
{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: cornflowerblue;
}

.cachecache
{
    display: none;
}